<div id="agreementContainer" style="display: none;">
    <div id="agreementContent">
        <span id="agreementTitle">Пользовательское соглашение</span>
        <div id="agreementContentScrollable">
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <div id="agreementReadMark"></div>
        </div>
    </div>
    <div id="agreementActionContainer">
        <button type="checkbox" id="agreementAcknowledge" class="agreementKeybindEnter">ПРИНИМАЮ</button>
    </div>
    <!-- <script src="./assets/js/scripts/agreement.js"></script> -->
</div>