<div id="registerContainer" style="display: none;">
    <div id="registerContent">
        <form id="registerForm">
            <span id="registerSubheader">ENTER YOUR EMAIL</span>
            <div class="registerFieldContainer">
                <span class="registerErrorSpan" id="registerEmailError">* Invalid Value</span>
                <input id="registerUserMail" class="registerField" type="text" placeholder="EMAIL"/>
            </div>
            <button id="registerButton" disabled>
                <div id="registerButtonContent">
                    REGISTER
                    <svg id="registerSVG" viewBox="0 0 24.87 13.97">
                        <defs>
                            <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                        </defs>
                        <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                    </svg>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                    <!--<div class="spinningCircle" id="registerSpinner"></div>-->
                </div>
            </button>
            <button id="cancelRegister">
                <div id="registerButtonContent">
                    CANCEL
                </div>
            </button>
            
        </form>
    </div>
    <script src="./assets/js/scripts/register.js"></script>
</div>