<div id="registerContainer" style="display: none;">
    <div id="registerCancelContainer" style="display: none;">
        <button id="registerCancelButton">
            <div id="registerCancelIcon">X</div>
            <span id="registerCancelText">Cancel</span>
        </button>
    </div>
    <div id="registerContent">
        <form id="registerForm">
            <span id="registerSubheader">MINECRAFT REGISTER</span>
            <!-- <div class="registerFieldContainer">
                <span class="registerErrorSpan" id="registerEmailError">* Invalid Value</span>
                <input id="registerUsername" class="registerField" type="text" placeholder="USERNAME"/>
            </div> -->
            <div class="registerFieldContainer">
                <span class="registerErrorSpan" id="registerEmailError">* Invalid Value</span>
                <input id="registerUsername" class="registerField" type="text" placeholder="EMAIL"/>
            </div>
            <div class="registerFieldContainer">
                <span class="registerErrorSpan" id="registerPasswordError">* Required</span>
                <input id="registerPasswordPrimary" class="registerField" type="password" placeholder="PASSWORD"/>
            </div>
            <div class="registerFieldContainer">
                <span class="registerErrorSpan" id="registerPasswordError">* Required</span>
                <input id="registerPasswordSecondary" class="registerField" type="password" placeholder="CONFIRM PASSWORD"/>
            </div>
            <button id="registerButton" disabled>
                <div id="registerButtonContent">
                    REGISTER
                    <svg id="registerSVG" viewBox="0 0 24.87 13.97">
                        <defs>
                            <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                        </defs>
                        <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                    </svg>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                    <!--<div class="spinningCircle" id="registerSpinner"></div>-->
                </div>
            </button>
        </form>
    </div>
    <!-- <script src="./assets/js/scripts/register.js"></script> -->
</div>