<div id="rulesContainer" style="display: none;">
    <div id="rulesContent">
        <span id="rulesTitle">Игровые правила</span>
        <div id="rulesContentScrollable">
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <div id="rulesReadMark"></div>
        </div>
    </div>
    <div id="rulesActionContainer">
        <button type="checkbox" id="rulesAcknowledge" class="rulesKeybindEnter">ПРИНИМАЮ</button>
    </div>
    <!-- <script src="./assets/js/scripts/rules.js"></script> -->
</div>