<div id="rulesContainer" style="display: none;">
    <div id="rulesContent">
        <span id="rulesTitle">Игровые правила</span>
        <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <span >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <div id="rulesReadMark"></div>
    </div>
    <div id="rulesActionContainer">
        <span>Я все принял и со всем согласен</span>
        <input type="checkbox" id="rulesAcknowledge" class="rulesKeybindEnter">
    </div>
    <!-- <script src="./assets/js/scripts/rules.js"></script> -->
</div>